body{
  padding: 0px;
  margin: 0px;
}
#main_panel{
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black
}
#content{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px;
  height: 305px;
  transition: height 0.3s ease-out 0.3s;
}
.mail_header{
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 15px;
  float: left;
  width: 100%;
  transition: width 0.3s ease-out 0.3s;
  transition: margin-left 0.3s ease-out 0.3s;
}
.mail_theme{
  width: 33%;
  text-align: center;
  font-size: 20px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mail_author{
  width: 33%;
  text-align: center;
  font-size: 20px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mail_date{
  width: 33%;
  text-align: center;
  font-size: 20px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mail_body{
  position: absolute;
  width: 35%;
  height: 593px;
  border: 1px solid black;
  border-radius: 7px;
  display: none;
  margin-left: -36%;
}
#pagingControls{
  clear: both;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}